<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8"/>
    <title>Mantejs Website: <%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />


    <script src = 'https://code.jquery.com/jquery-3.3.1.min.js'></script>

  </head>
  
   <body>
      <div class="nav">
        <a href="/admin">Home</a>
        <a href="/admin/chat">Chat</a>
        <a href="/admin/follow">Follow</a>
        <a href="/logout">Log Out</a>
      </div>	

      <div class = "header"></div>